@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Pacifico|Lily+Script+One|Monoton|Oleo+Script+Swash+Caps);

html, body{
 border:0;
 margin:0;
}
body{
	background-color:white;
	background-image:url('https://cdn.dribbble.com/users/995553/screenshots/2588786/icecream800x600.png');
	font-family: 'Raleway', sans-serif;
	color:white;
	min-width:280px;


}

#main{
	overflow:hidden;
  max-width:980px;
  margin:0 auto;
}

header{
	display:block;
	position:relative;
	}

	#welcome_slogan{
		height:75px;
		position:relative;
	}
		#welcome_slogan h3{
			margin-top:0px;
			text-align:left;
			font-size:35px;
			padding-top:55px;
			padding-left:15px;
			font-family: 'Oleo Script Swash Caps', cursive;
			text-shadow:
			-1px -1px 2px black,
			 1px -1px 2px black,
			 -1px 1px 2px black,
			 1px 1px 2px black;
		}
		#welcome_slogan h3 span{
			color:salmon;
		}
			
	#menubar{
		position:absolute;
		right:86px;
		top:7px;
		z-index:999;
	}
	.menubar_mobile{
		position:absolute;
		right:10px !important;
		top:17px !important;
		width:40px !important;
		height:40px !important;
		background-image:url('C:\Users\Marcos Hernandes\Desktop\Sorbettes\assets\roxo.png') !important;
		background-size:30px 30px;
		background-position:center center;
		background-repeat:no-repeat;
	}
	
		#nav{
			list-style-type:none;
			margin-top:-25px;
		}
		.nav_mobile{
			display:none;
			margin-left: -103px;
			margin-top:43px !important;
		}
			#nav li{
				display:inline;
			}
				#nav li a:hover {
					background-color: #ffe39f;
					color:black;
				}
				#nav li a {
					background-color:#019BFF;
					font-weight:bold;
					height:30px;
					width:200px;
					margin-top:0;
					text-decoration:none;
					color:#F4F6F4;
					text-align:left;
					padding-left:10px;
					padding-top:10px;
					margin-right:5px;
					/*border-bottom-left-radius:20px;*/
					border-radius:20px;
					margin-right:-143px;
					cursor: pointer;
          box-shadow: 0 3px 3px 3px rgba(0,0,0,0.4);
				}
				.nav_item_desktop{
					display:inline-block !important;
					-ms-transform: rotate(-35deg) !important; /* IE 9 */
					-webkit-transform: rotate(-35deg) !important; /* Chrome, Safari, Opera */
					transform: rotate(-35deg) !important;
					position:relative;
				}
				.nav_item_mobile{
					display:block !important;
					-ms-transform: rotate(0deg)!important; /* IE 9 */
					-webkit-transform: rotate(0deg)!important; /* Chrome, Safari, Opera */
					transform: rotate(0deg)!important;
					position:relative;
					margin-top:1px !important;
				}
#featured{
	height:225px;
	background: url('../assets/sorvete2.jpg') center center;
	background-size:100% auto;
	border:1px solid ##F8EFF2;
	box-shadow: 0 2px 7px rgba(0,0,0,0.8);
	margin:0 15px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	text-align:top;
	position:relative;
}
	#featured h1, #featured h3{
		position:relative;
		margin-left:25px;
		margin-top:0px;
		color:#019BFF;
		width:2000px;
		text-shadow:
			-1px -1px 2px black,
			 1px -1px 2px black,
			 -1px 1px 2px black,
			 1px 1px 2px black;
	}
	#featured h1{
		padding-top:15px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size:70px;
	}
	#featured h3{
		color:white;
		padding-left:25px;
		
	}
	#featured button{
		width:110px;
		color:#F8EFF2;
		background-color: #019BFF;
		height:50px;
		border:0;
		font-size:20px;
		border-radius:25px;
		margin-left:75px;
		cursor: pointer;
		outline: none;
		box-shadow: 0 4px 7px rgba(28,28,28,0.75);
	}
	#featured button:hover{
		background-color: #ffe39f;
		color:black;/*vanilla */
	}
	
	.call-to-action{
		margin-left:10px !important;
		position:absolute;
	}
	
#site_content{
	position:relative;
}
	.sidebar_container{
		position:absolute;
		right:0;
		width:220px;
		padding-left:10px;
		padding-right:15px;
	}
	.sidebar_container_mobile{
		position:relative !important;
		width:auto !important;
		padding: 0 0;
		margin-top:15px;
	}

		.sidebar_item{
			position:relative;
			border:1px solid #e0e0e0;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			margin-top:15px;
			padding:5px;
			font-size:14px;
			border-top-right-radius:20px;
			border-bottom-left-radius:20px;
			background-color: #FFE401  ;
			color: #F8EFF2;
			background-image:url('https://www.solidbackgrounds.com/images/2560x1600/2560x1600-salmon-solid-color-background.jpg') !important;
		}
		.sidebar_item:hover{
			box-shadow: 0 4px 15px rgba(0,0,0,0.9);
		}
		
		.sidebar_item_mobile{
			background-color:none !important;
			border:1px solid #e0e0e0;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			margin:15px 15px 0;
			padding:5px;
			font-size:14px;
			border-top-right-radius:0px;
			border-bottom-left-radius:0px;
		}
		
		.sidebar_item h2{
			margin-top:0px;
			color: white;
			font-size:18px;
		}
	#content{
		margin-right:240px;
		padding:15px;
		min-height:500px;
	}
	.content_mobile{
		margin-right:15px !important;
		padding:0 !important;
		width:auto !important;
		margin:15px;
	}
		.content_item{
			background-color: #019BFF;
			background-image:url('https://www.solidbackgrounds.com/images/2560x1600/2560x1600-salmon-solid-color-background.jpg');
			padding:15px;
			border:1px solid #F8EFF2;
			color: #F8EFF2  ;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			border-top-left-radius:20px;
			border-bottom-right-radius:20px;
			overflow:hidden;
		}
		
		.content_item_mobile{
			background-color:rgb(20,20,20);
			padding:15px;
			border: 1px solid #e0e0e0;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			border-top-left-radius:0px;
			border-bottom-right-radius:0px;
		}
			.content_item h1{
				margin-top:0;
				color: white  ; /*vanilla */
				text-shadow:
					-1px -1px 1px rgba(0,0,0,0.7),
					 1px -1px 1px rgba(0,0,0,0.7),
					 -1px 1px 1px rgba(0,0,0,0.7),
					 1px 1px 1px rgba(0,0,0,0.7);
			}
      .line-separator{
         horizontal-align:middle;
         margin-top:5px;
         opacity:.2;
        height:20px;
        background-image:url('https://i.pinimg.com/564x/91/27/db/9127db783da0fb31b36f24fd5b4195a2.jpg');
        background-repeat:no-repeat;
        background-position:center center;
      }
	  
	  .button_small{
		height:30px;
		}

		.button_small a{
			display:block;
			width:100px;
			padding:5px 15px;
			color:#F8EFF2 ;
			font-weight:bold;
			font-size:16px;
			background-color: #019BFF;
			box-shadow: 0 2px 4px rgba(28,28,28,0.75);
			border-radius: 25px;
		}

		.button_small a:hover{
			background-color:   #ffe39f; /*vanilla */
			box-shadow: 0 4px 7px rgba(28,28,28,0.75);
		}
		
footer{
	padding:15px;
	border:1px solid #e0e0e0;
	color:#8AC1D6;
	margin:15px 15px ;
	list-style-type:none;
	box-shadow: 0 2px 7px rgba(0,0,0,0.8);
	background-image:url("https://www.solidbackgrounds.com/images/2560x1600/2560x1600-salmon-solid-color-background.jpg ");
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	position:relative;
}
	footer li {
		display:inline-block;
	}
		footer li a{
			display:block;
			padding:5px 15px;
			cursor: pointer;
			text-decoration:none;
			color: #F8EFF2 ;
			font-weight:bold;
			font-size:20px;
		}
		footer li a:hover{
			background-color:  #ffe39f;
			box-shadow: 0 4px 7px rgba(28,28,28,0.75);
			border-radius: 25px;
			color:black;
		}
		
		
		
a{
	color:#F8EFF2 ;
	text-decoration:none;
}

	
		


