@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Pacifico|Lily+Script+One|Monoton|Oleo+Script+Swash+Caps);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

*{
 border:0;
 margin:0;
}
body{

	background-image:url('../assets/sorvete20.jpg');

	font-family: 'Raleway', sans-serif;
	color:white;
	min-width:280px;


}

#main{
	overflow:hidden;
  max-width:980px;
  margin:0 auto;
}

header{
	display:block;
	position:relative;
	}

	#welcome_slogan{
		height:75px;
		position:relative;
	}
		#welcome_slogan h3{
			margin-top:0px;
			text-align:left;
			font-size:35px;
			padding-top:55px;
			padding-left:30px;
			font-family: 'Oleo Script Swash Caps', cursive;
			text-shadow:
			-1px -1px 2px black,
			 1px -1px 2px black,
			 -1px 1px 2px black,
			 1px 1px 2px black;
		}
		#welcome_slogan h3 span{
			color:salmon;
		}
			
	#menubar{
		position:absolute;
		right:86px;
		top:7px;
		z-index:999;
	}
.menubar_mobile{
	position:absolute;
	right:10px !important;
	top:17px !important;
	width:40px !important;
	height:40px !important;
	background-image:url('../assets/menu_img2.png') !important;
	background-size:30px 30px;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
}

	
		#nav{
			list-style-type:none;
			margin-top:-25px;
		}
		.nav_mobile{
			display:none;
			margin-left: -103px;
			margin-top:43px !important;
		}
			#nav li{
				display:inline;
			}
				#nav li a:hover {
					background-color: #ffe39f;
					color:black;
				}
				#nav li a {
					background-color:#019BFF;
					font-weight:bold;
					height:30px;
					width:200px;
					margin-top:0;
					text-decoration:none;
					color:#F4F6F4;
					text-align:left;
					padding-left:10px;
					padding-top:10px;
					margin-right:5px;
					/*border-bottom-left-radius:20px;*/
					border-radius:20px;
					margin-right:-143px;
					cursor: pointer;
          box-shadow: 0 3px 3px 3px rgba(0,0,0,0.4);
				}
				.nav_item_desktop{
					display:inline-block !important;
					-ms-transform: rotate(-35deg) !important; /* IE 9 */
					-webkit-transform: rotate(-35deg) !important; /* Chrome, Safari, Opera */
					transform: rotate(-35deg) !important;
					position:relative;
				}
				.nav_item_mobile{
					display:block !important;
					-ms-transform: rotate(0deg)!important; /* IE 9 */
					-webkit-transform: rotate(0deg)!important; /* Chrome, Safari, Opera */
					transform: rotate(0deg)!important;
					position:relative;
					margin-top:1px !important;
				}
#featured{
	height:225px;
	background: url('../assets/sorvete2.jpg') center center;
	background-size:100% auto;
	border:1px solid #F8EFF2;
	box-shadow: 0 2px 7px rgba(0,0,0,0.8);
	margin:0 15px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	text-align:top;
	position:relative;
}
	#featured h1, #featured h3{
		position:relative;
		margin-left:25px;
		margin-top:0px;
		color:#019BFF;
		width:2000px;
		text-shadow:
			-1px -1px 2px black,
			 1px -1px 2px black,
			 -1px 1px 2px black,
			 1px 1px 2px black;
	}
	#featured h1{
		padding-top:15px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size:70px;
	}
	#featured h3{
		color:white;
		padding-left:25px;
		
	}
	#featured button{
		width:110px;
		color:#F8EFF2;
		background-color: #019BFF;
		height:50px;
		border:0;
		font-size:20px;
		border-radius:25px;
		margin-left:75px;
		cursor: pointer;
		outline: none;
		box-shadow: 0 4px 7px rgba(28,28,28,0.75);
	}
	#featured button:hover{
		background-color: #ffe39f;
		color:black;/*vanilla */
	}
	
	.call-to-action{
		margin-left:10px !important;
		position:absolute;
	}
	
#site_content{
	position:relative;
}
	.sidebar_container{
		position:absolute;
		right:0;
		width:220px;
		padding-left:10px;
		padding-right:15px;
	}
	.sidebar_container_mobile{
		position:relative !important;
		width:auto !important;
		padding: 0 0;
		margin-top:15px;
	}

		.sidebar_item{
			position:relative;
			border:1px solid #e0e0e0;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			margin-top:15px;
			padding:5px;
			font-size:14px;
			border-top-right-radius:20px;
			border-bottom-left-radius:20px;
			background-color: #FFE401  ;
			color: #F8EFF2;
			/*background-image:url('https://www.solidbackgrounds.com/images/2560x1600/2560x1600-salmon-solid-color-background.jpg') !important;*/
		}
		.sidebar_item:hover{
			box-shadow: 0 4px 15px rgba(0,0,0,0.9);
		}
		
		.sidebar_item_mobile{
			background-color: none !important;
			border:1px solid #e0e0e0;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			margin:15px 15px 0;
			padding:5px;
			font-size:14px;
			border-top-right-radius:0px;
			border-bottom-left-radius:0px;
		}
		
		.sidebar_item h2{
			margin-top:0px;
			color: white;
			font-size:18px;
		}
	#content{
		margin-right:10px;
		padding:15px;
		min-height:500px;
	}
	.content_mobile{
		margin-right:15px !important;
		padding:0 !important;
		width:auto !important;
		margin:15px;
	}
		.content_item{

			/*background-image:url('https://www.solidbackgrounds.com/images/2560x1600/2560x1600-salmon-solid-color-background.jpg');*/
			background-color:#F87757;
			padding:15px;
			border:1px solid #F8EFF2;



			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			border-top-left-radius:20px;
			border-bottom-right-radius:20px;
			overflow:hidden;

		}
		
		.content_item_mobile{
			/*background-color:rgb(20,20,20);*/
			background-color:#F87757;
			padding:15px;
			border: 1px solid #e0e0e0;
			box-shadow: 0 2px 7px rgba(0,0,0,0.8);
			border-top-left-radius:0px;
			border-bottom-right-radius:0px;
		}
			.content_item h1{
				margin-top:0;
				color: white  ; /*vanilla */
				text-shadow:
					-1px -1px 1px rgba(0,0,0,0.7),
					 1px -1px 1px rgba(0,0,0,0.7),
					 -1px 1px 1px rgba(0,0,0,0.7),
					 1px 1px 1px rgba(0,0,0,0.7);

			}
      .line-separator{
         horizontal-align:middle;
         margin-top:5px;
         opacity:.2;
        height:20px;

      }
	  
	  .button_small{
		height:30px;
		}

		.button_small a{
			display:block;
			width:100px;
			padding:5px 15px;
			color:black ;
			font-weight:bold;
			font-size:16px;
			background-color: #019BFF;
			box-shadow: 0 2px 4px rgba(28,28,28,0.75);
			border-radius: 25px;
		}

		.button_small a:hover{
			background-color:   #ffe39f; /*vanilla */
			color:black;
			box-shadow: 0 4px 7px rgba(28,28,28,0.75);
		}
		
footer{
	padding:15px;
	border:1px solid #e0e0e0;


	color:#8AC1D6;
	margin:15px 15px ;
	list-style-type:none;
	box-shadow: 0 2px 7px rgba(0,0,0,0.8);
	/*background-image:url("https://www.solidbackgrounds.com/images/2560x1600/2560x1600-salmon-solid-color-background.jpg ");*/
	background-color:#F87757;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	position:relative;

}
	footer li {
		display:inline-block;
	}
		footer li a{
			display:block;
			padding:5px 15px;
			cursor: pointer;
			text-decoration:none;
			color: #F8EFF2 ;
			font-weight:bold;
			font-size:20px;
		}
		footer li a:hover{
			background-color:  #ffe39f;
			box-shadow: 0 4px 7px rgba(28,28,28,0.75);
			border-radius: 25px;
			color:black;
		}
		
		
		
a{
	color:inherit ;
	text-decoration:none;
}
#featured a:hover{
	color:black;
}










/* Slide 2 */
.slider-wrap {
	width: 50%;
	height:300px;
	position: relative;
	margin:0 auto;
}
.single-slide {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	animation: slider-animation;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	background-size: cover;
}

#slide-1 {background-color: red; background-image: url('../assets/sorvete7.jpg');}
#slide-2 {background-color: rebeccapurple; animation-delay: 5s; background-image: url('../assets/sorvete1.jpg');}
#slide-3 {background-color: orange; animation-delay: 10s; background-image: url('../assets/sorvete2.jpg');}
#slide-4 {background-color: blue; animation-delay: 15s; background-image: url('../assets/sorvete4.jpg');}
#slide-5 {background-color: green; animation-delay: 20s; background-image: url('../assets/sorvete5.jpg');}
#slide-6 {background-color: red; background-image: url('../assets/sorvete8.jpg');}
#slide-7 {background-color: rebeccapurple; animation-delay: 5s; background-image: url('../assets/sorbete9.jpg');}

@keyframes slider-animation {

	0% {
		opacity: 0;
	}
	6% {
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	34% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
@media only screen and (max-width: 600px) {

	footer li a{

		font-size:10px;
		padding:2px 7px;
	}
	.slider-wrap {
		width: 100%;
		height:200px;
		position: relative;
		margin:0 auto;
		top:50px;
	}
div.content{
	display:none;
}


}
.center{

	text-align:center;
	font-weight: 2em;
}
.content {
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%, -50%);
	display: block;
}

.icon {
	height: 50px;
	width: 50px;
	border: 3px solid white;
	border-radius: 50%;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: middle;
	line-height: 65px;
	margin-right: 10px;
	z-index: 10;
	-moz-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
	-webkit-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
	box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
	cursor:pointer;
}

.facebook .background_circle {
	display: none;
	width: 52px;
	height: 54px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 1;
	z-index: -1;
	background-color: #3B5998;
}



.instagram .background_circle {
	display: none;
	width: 52px;
	height: 54px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 1;
	z-index: -1;
	background-color: #cd486b;
}



.facebook:hover,
.facebook:active {
	background-color: #3B5998;
}



.instagram:hover,
.instagram:active {
	background-color: #cd486b;
}
.close {
	cursor: pointer;
}
